<%- include('partials/head', {pageTitle: 'Chart'}) %>
<body>

<%- include('partials/navbar') %>


  <h1 style="text-align: center;"><%= userData.name %>'s Investment Chart</h1><br>

  <div class="container" style="width: 800px; height: 600px; margin-left: auto; margin-right: auto;">
    <a>Instrumen Investasi: <%= data.name %></a>
    <canvas id="myChart"></canvas>
    <br><br><br>
    <p style="margin: auto; text-align: center;">
      Jika Bapak/Ibu <%= userData.name %> rutin menabung setiap bulannya <br>
      dengan menyisihkan <%= idrFormatter(userData.income - userData.expense) %> dari sisa pendapatan maka, <br>
      10 tahun dari sekarang, yaitu pada saat usia Bapak/Ibu mencapai <%= usiaArr[usiaArr.length-1] %> tahun, <br>
      Bapak/Ibu diproyeksikan akan memiliki aset investasi dalam bentuk <%= data.name %> <br>
      dengan nilai total <%= idrFormatter(gainArr[gainArr.length-1]) %>.
    </p>

  </div>
  <script>
    let ctx = document.getElementById('myChart').getContext('2d');
    let myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: <%- JSON.stringify(usiaArr) %>,
        datasets: [{
            label: 'Your financial growth',
            data: <%- JSON.stringify(gainArr) %>,
            backgroundColor: 'green',
            borderColor: 'green',
            borderWidth: 5,
            borderColor: 'green',
            hoverBorderWidth: 25,
            hoverBorderColor: 'green'
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
</body>
</html>