<%- include('partials/head', {pageTitle: 'Chart'}) %>
<body>

<%- include('partials/navbarloggedin') %>


  <h1 style="text-align: center;"><%= userData.name %>'s Investment Chart</h1><br>

  <div class="container" style="width: 800px; height: 600px; margin-left: auto; margin-right: auto;">
    <a>Instrumen Investasi: <%= data.name %></a>
    <canvas id="myChart"></canvas>
    <br><br><br>

    <p style="margin-left:100px ; text-align: left;">
      <h5>Jika pilihan instrumentnya adalah  <strong><%= data.name %>, </strong> </h5><br>
      <h5>dan User <strong><%= userData.name %> </strong> dapat menyisihkan uang sebesar <strong><%= idrFormatter(userData.income - userData.expense) %> </strong> per bulannya,<br></h5>
      <h5>Dalam waktu 10 tahun, saat user <strong><%= userData.name %> </strong> mencapai <%= usiaArr[usiaArr.length-1] %> tahun <br></h5>
      <h5>maka dapat diproyeksikan akan memiliki aset investasi senilai total <strong><%= idrFormatter(gainArr[gainArr.length-1]) %></strong> </h5>
    </p>


  </div><br><br>
  <div style="text-align: center; margin-top: 30px;">
    <button type="button" class="btn btn-outline-primary"><a href="/user/invest">Kembali</a></button>
  </div>
  <script>
    let ctx = document.getElementById('myChart').getContext('2d');
    let myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: <%- JSON.stringify(usiaArr) %>,
        datasets: [{
            label: 'Your financial growth',
            data: <%- JSON.stringify(gainArr) %>,
            backgroundColor: 'green',
            borderColor: 'green',
            borderWidth: 5,
            borderColor: 'green',
            hoverBorderWidth: 25,
            hoverBorderColor: 'green'
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
</body>
</html>