<%- include('partials/head', {pageTitle: 'User Investment Add'}) %>
<body>
<%- include('partials/navbar') %>
  
  <h1><%= data.name %>, Tambahkan Instrumen investasi yang anda inginkan!</h1>

  <form action="/user/invest/add" method="POST">
    <label>Periode</label><br>
    <input type="number" name="period"><br><br>

    <label>Instrumen Investasi</label><br>
    <select name="InvestmentId">
    <% investmentData.forEach(el => { %>
      <option value="<%= el.id %>"><%= el.name %></option>
    <% }) %>
  </select><br><br>
  <button type="submit" value="submit">Tambahkan</button>
  </form>
</body>
</html>