<%- include('partials/head', {pageTitle: 'Home'}) %>

<body>

  <%- include('partials/navbar') %>

    <div class="text-center">
        <div class="container actioTitle">
            <div class="alert" role="alert">
                <h4>Lengkapi <span class="actio-text"></span> profile <span class="actio-text">anda</span> !</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card body">
                <div class="container">
                    <div class="card-body">
                        <form action="/user/profile" method="POST">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" name="email" value="<%= data.email ? data.email : '' %>">
                            </div>

                            <div class="form-group">
                              <label for="name">Nama</label>
                              <input type="text" class="form-control" name="name" value="<%= data.name ? data.name : '' %>">
                            </div>
                            
                            <div class="form-group">
                              <label for="age">Usia</label>
                              <input type="number" class="form-control" name="age" value="<%= data.age ? data.age : '' %>">
                            </div>

                            <div class="form-group">
                              <label for="profession">Profesi</label>
                              <input type="text" class="form-control" name="profession" value="<%= data.profession ? data.profession : '' %>">
                            </div>  

                            <div class="form-group">
                              <label for="city">Kota Domisili</label>
                              <input type="text" class="form-control" name="city" value="<%= data.city ? data.city : '' %>">
                            </div>

                            <div class="form-group">
                              <label for="phone">Nomor Hp</label>
                              <input type="text" class="form-control" name="phone" value="<%= data.phone ? data.phone : '' %>">
                            </div>

                            <div class="form-group">
                              <label for="income">Penghasilan Per Bulan (Rp)</label>
                              <input type="number" class="form-control" name="income" value="<%= data.income ? data.income : '' %>">
                            </div>

                            <div class="form-group">
                              <label for="expense">Pengeluaran Per Bulan (Rp)</label>
                              <input type="number" class="form-control" name="expense" value="<%= data.expense ? data.expense : '' %>">
                            </div>

                            <div class="form-group">
                            <br><button type="submit" class="btn btn-primary" style="color: white">Simpan</button></button>
                          </div>
                        </form>

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>