<%- include('partials/head', {pageTitle: 'Home'}) %>

<body>

  <%- include('partials/navbar') %>
  <div class="text-center">
    <div class="container actioTitle">
        <div class="alert" role="alert">
          <h2 class="header1">Lengkapi Profil Anda!</h2>
        </div>  
    </div>
  </div>
  <div class="text-center">
    <div class="container">
      <div class="card">
          <div class="card body">
              <div class="container">
                  <div class="card-body">                
                    <div class="form1">
                      <form action="/user/profile" method="POST">
                        <label>Email</label> <br>
                        <input type="text" name="email" value="<%= data.email ? data.email : '' %>"> <br><br>
                        <label>Nama</label> <br>
                        <input type="text" name="name" value="<%= data.name ? data.name : '' %>"> <br><br>
                        <label>Usia</label> <br>
                        <input type="number" name="age" value="<%= data.age ? data.age : '' %>"> <br><br>
                        <label>Profesi</label> <br>
                        <input type="text" name="profession" value="<%= data.profession ? data.profession : '' %>"> <br><br>
                        <label>Kota Domisili</label> <br>
                        <input type="text" name="city" value="<%= data.city ? data.city : '' %>"> <br><br>
                        <label>Nomor Hp</label> <br>
                        <input type="text" name="phone" value="<%= data.phone ? data.phone : '' %>"> <br><br>
                        <label>Penghasilan Per Bulan (Rp)</label> <br>
                        <input type="number" name="income" value="<%= data.income ? data.income : '' %>"> <br><br>
                        <label>Pengeluaran Per Bulan (Rp)</label> <br>
                        <input type="number" name="expense" value="<%= data.expense ? data.expense : '' %>"> <br><br>
                        <button class="button1" value="submit">Simpan</button>
                      </form>
                    </div>
                  </div>
                </div>
          </div>
      </div>
  </div>
</div>
</body>
</html>